{{> header}}
<div class="container">
    {{#with project}}
    <div class="boxed-group">
        <h3>成员管理 - {{name}}</h3>
        <div id="project" data-id="{{_id}}" class="boxed-group-inner clearfix">
            <ul id="membersList">
                {{#each members}}
                <li data-id="{{_id}}">
                    <span>{{name}}</span>
                    <span>{{contact}}</span>
                    <button class="js-delete btn btn-danger">删除</button>
                </li>
                {{/each}}
            </ul>
            <div class="form-group">
                <input id="memberName" name="name" type="text" placeholder="成员名称" maxlength="20">
                <input id="memberContact" name="contact" type="text" placeholder="联系方式" maxlength="20">
                <button class="js-add">添加</button>
            </div>
            <p>
                <a class="btn btn-default btn-link" href="/index">返回列表</a>
            </p>
        </div>
    </div>
    {{/with}}
</div>
<script src="/js/jquery.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
    var $memberName = $('#memberName'),
        $memberContact = $('#memberContact'),
        $membersList = $('#membersList'),
        projectId = $('#project').data('id');

    $membersList.on('click', '.js-delete', function(event) {
        var $this = $(this),
            $li = $this.closest('li'),
            memberId = $li.data('id');
        if (!window.confirm('确认删除成员')) return;
        $this.prop('disabled', true);
        $.ajax({
            url: '/projects/' + projectId + '/members/' + memberId,
            type: 'DELETE',
            dataType: 'json'
        })
        .done(function(data) {
            $this.prop('disabled', false);
            if (data.status) {
                $li.remove();
            } else {
                alert('删除失败');
            }
        });
    });
    $('.js-add').on('click', function() {
        var $this = $(this),
            name = $memberName.val().trim(),
            contact = $memberContact.val().trim();
        if (!name) return;
        $this.prop('disabled', true);
        $.ajax({
            url: '/projects/' + projectId + '/members',
            type: 'POST',
            dataType: 'json',
            data: {name: name, contact: contact}
        })
        .done(function(data) {
            $this.prop('disabled', false);
            if (data.status) {
                var $item = $('<li data-id="' + data.member._id + '">\n' +
                    '<span>' + data.member.name + '</span>\n' +
                    '<span>' + data.member.contact + '</span>\n' +
                    '<button class="js-delete btn btn-danger">删除</button>\n' +
                '</li>\n');
                $membersList.append($item);
                $memberName.val('');
            } else {
                alert('添加失败');
            }
        });
    });
});
</script>
