{{> header}}
<div class="container">
{{#with project}}
<div class="boxed-group" style="width: 720px;">
    <h3>{{name}} - 项目监控<a class="btn btn-default pull-right" href="/index">返回项目列表</a></h3>
    <div id="monitor" data-id="{{_id}}" class="boxed-group-inner clearfix">
        {{#each plans}}
        <div class="row">
            <div class="col-md-6">
                <h3>项目分组：{{charge_part.name}}</h3>
                <div class="meta">
                    <p><span class="title">负责人：</span> {{pic.name}}</p>
                    <p><span class="title">联系方式：</span> {{pic.contact}}</p>
                    <p><span class="title">计划开始时间：</span>
                        <time title="{{start_at}}">
                            {{#timeFormatter start_at "yyyy-MM-dd"}}{{/timeFormatter}}
                        </time>
                    </p>
                    <p><span class="title">计划完成时间：</span>
                        <time title="{{complete_at}}">
                            {{#timeFormatter complete_at "yyyy-MM-dd"}}{{/timeFormatter}}
                        </time>
                    </p>
                    <p><span class="title">资金预算：</span>{{funds}}</p>
                    <p><span class="title">人力资源：</span>{{manpower}}</p>
                    <p><span class="title">备注：</span>{{remark}}</p>
                </div>
            </div>
            <div class="col-md-6">
                <form action="/projects/{{../_id}}/monitor/{{_id}}" method="POST">
                {{#with monitor}}
                <div class="form-group">
                    <label>实际开始时间：</label>
                    <input class="js-date form-control" type="date" value="{{#timeFormatter start_at "yyyy-MM-dd"}}{{/timeFormatter}}">
                    <div class="input-group">
                        <span class="input-group-addon">{{#timeFormatter start_at_min "yyyy-MM-dd"}}{{/timeFormatter}}</span>
                        <input class="js-date-range form-control" type="range" name="start_at" min="{{start_at_min}}" max="{{start_at_max}}" step="86400000" value="{{start_at}}">
                        <span class="input-group-addon">{{#timeFormatter start_at_max "yyyy-MM-dd"}}{{/timeFormatter}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>实际结束时间：</label>
                    <input class="js-date form-control" type="date" value="{{#timeFormatter complete_at "yyyy-MM-dd"}}{{/timeFormatter}}">
                    <div class="input-group">
                        <span class="input-group-addon">{{#timeFormatter complete_at_min "yyyy-MM-dd"}}{{/timeFormatter}}</span>
                        <input class="js-date-range form-control" type="range" name="complete_at" min="{{complete_at_min}}" max="{{complete_at_max}}" step="86400000" value="{{complete_at}}">
                        <span class="input-group-addon">{{#timeFormatter complete_at_max "yyyy-MM-dd"}}{{/timeFormatter}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>实际资金：</label>
                    <div class="input-group">
                        <input class="js-range-text form-control" type="number" name="funds" value="{{funds}}">
                        <span class="input-group-addon">元</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>实际人力：</label>
                    <textarea class="form-control" name="manpower">{{manpower}}</textarea>
                </div>
                <div class="form-group">
                    <input class="js-update form-control btn btn-success" type="submit" value="更新">
                </div>
                {{/with}}
            </form>
            </div>
        </div>
        {{else}}
        <p>此项目尚未添加计划，请前往<a href="/projects/{{../_id}}/plans/add">计划管理</a>添加计划。</p>
        {{/each}}
    </div>
</div>
{{/with}}
</div>
<script src="/js/jquery.js"></script>
<script>
$(function() {
    function timeFormatter(date, format) {
        if (!date) return;
        if (typeof format !== 'string') format = "yyyy-MM-dd HH:mm:ss";
        date = new Date(date);
        if (!date instanceof Date) return;
        var dict = {
            'yyyy': date.getFullYear(),
            'yy': date.getFullYear().toString().slice(-2),
            'M': date.getMonth() + 1,
            'd': date.getDate(),
            'H': date.getHours(),
            'm': date.getMinutes(),
            's': date.getSeconds(),
            'MM': ('' + (date.getMonth() + 101)).substr(1),
            'dd': ('' + (date.getDate() + 100)).substr(1),
            'HH': ('' + (date.getHours() + 100)).substr(1),
            'mm': ('' + (date.getMinutes() + 100)).substr(1),
            'ss': ('' + (date.getSeconds() + 100)).substr(1)
        };
        return format.replace(/(yyyy|yy?|MM?|dd?|HH?|ss?|mm?)/g, function() {
            return dict[arguments[0]];
        });
    }

    $('.js-date-range').on('propertychage change', function(event) {
        var value = timeFormatter(Number(this.value), 'yyyy-MM-dd');
        $(this).parent().prev('.js-date').val(value);
    });

    $('.js-range').on('propertychage change', function(event) {
        //var value = timeFormatter(Number(this.value), 'yyyy-MM-dd');
        $(this).parent().prev('.js-range-text').val(this.value);
    });

    $('.js-update').on('click', function(e) {
        e.preventDefault();
        var $this = $(this),
            $form = $this.closest('form'),
            dataArr = $form.serializeArray(),
            dataObj = {};

        dataArr.forEach(function(elem, idx, list) {
            dataObj[elem.name] = elem.value;
        });
        $this.prop('disabled', true);
        $.ajax({
            url: $form.attr('action'),
            type: 'PUT',
            dataType: 'json',
            data: dataObj,
        })
        .done(function(res) {
            $this.prop('disabled', false);
            if (!res.status) {
                return alert('更新失败，请检查数据');
            }
            alert('更新成功');
        });

    });
});
</script>
